# Python related
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask related
instance/
.pytest_cache/
.coverage
htmlcov/

# Environment variables
.env
env.py

# IDE related
.vscode/
.idea/

# Compiled Python files
*.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Flask-SQLAlchemy
.db

# Flask-Migrate
migrations/

# SQLAlchemy
db.sqlite
db.sqlite3

# PyInstaller
build/
dist/

# Project folders
venv/
datasets_backup/
raw_datasets/
uploads/
aws_configuration/

# Pem files
*.pem
