<style>
      #designContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
      }

      #appDesign,
      #awsDesign {
            height: calc(100vh - 50px);
      }

      .nav {
            width: 100%;
            display: flex;
            justify-content: space-around;
      }

      .nav-item {
            flex: 1;
            text-align: center;
            border: none !important;
            margin: 0px;
      }

      .nav-link {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            cursor: pointer;
            color: #fff !important;
            background-color: #007bff !important;
            border: None !important;
            border-top-left-radius: 0px !important;
            border-top-right-radius: 0px !important;
            border-bottom: 5px solid #fff !important;
            padding: 10px;
            height: 50px !important;
            text-decoration-line: underline;
      }

      .nav-link.active {
            color: #007bff !important;
            background-color: #fff !important;
            text-decoration-line: None;
      }

      .tab-content {
            display: none;
      }

      .tab-content.active {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
      }

      .tab-content img {
            display: block;
            height: calc(100vh - 50px) !important;
            max-width: 100vw;
            object-fit: contain;
            margin: auto auto !important;
      }
</style>

<div id="designContainer">
      <ul class="nav nav-tabs">
            <li class="nav-item">
                  <a
                        id="appDesignLink"
                        class="nav-link active"
                        href="#"
                        onclick="showTab('appDesign')"
                  >Application Design</a>
            </li>
            <li class="nav-item">
                  <a
                        id="awsDesignLink"
                        class="nav-link"
                        href="#"
                        onclick="showTab('awsDesign')"
                  >AWS Infrastructure Design</a>
            </li>
      </ul>

      <div
            id="appDesign"
            class="tab-content active"
      >
            <img
                  src="https://upload.wikimedia.org/wikipedia/commons/b/bb/Flussregenpfeifer_im_flachen_Wasser_01.jpg"
                  alt="Featured Picture"
            >
      </div>

      <div
            id="awsDesign"
            class="tab-content"
      >
            <img
                  src="https://upload.wikimedia.org/wikipedia/commons/4/41/Thomas_Eakins%2C_American_-_Portrait_of_Dr._Samuel_D._Gross_%28The_Gross_Clinic%29_-_Google_Art_Project.jpg"
                  alt="Featured Picture"
            >
      </div>
</div>

<script>
      function showTab(tabId) {
            // Hide all tab contents
            $('.tab-content').removeClass('active');

            // Show the selected tab content
            $('#' + tabId).addClass('active');
      }

      function showTab(tabId) {
            // Remove active class from all nav links
            $('.nav-link').removeClass('active');

            // Add active class to the clicked nav link
            $('#' + tabId + 'Link').addClass('active');

            // Hide all tab contents
            $('.tab-content').removeClass('active');

            // Show the selected tab content
            $('#' + tabId).addClass('active');
      }
</script>