<style>
      #designContainer {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding: 20px;
      }

      #articleContainer {
            width: 600px;
      }

      #articleContainer>h1,
      #articleContainer>p {
            text-align: center;
      }

      img {
            max-width: 100%;
            height: auto;
      }
</style>

<div id="designContainer">
      <div
            class="formContainer"
            id="articleContainer"
            name="articleContainer"
      >
            <h1>Application Design</h1>
            <p>This application has 3 major functions: to predict the outcome of movie concepts, to upload user movie data to augment the dataset, and to constantly update the prediction model.</p>
            <p>There are 5 entities involved in performing those functions (excluding hosting entities): the developer developing and testing the application, the web application serving content, the lambda function processing data, and the AWS services storing data (S3 and IAM).</p>
            <img
                  src="/static/img/application_design.png"
                  alt="Application Infrastructure"
            >
            <br /><br />
            <h1>AWS Infrastructure Design</h1>
            <p>There are over 20 entities that are part of the AWS infrastructure of this app. The diagram below excludes roles, a number of minor services and services already represented in the application design.</p>
            <p>The design is aimed at improving the operational efficiency and cost effectiveness of the infrastructure, while allowing for flexible load capacity.</p>
            <p>Three key services are: the application loadbalancer which distributes web traffic across the EC2 instances in the target group, the Elastic Container Service which scales the application and EC2 instances within the target group in and out depending on demand, and the CodePipeline which speeds up deployment and integrates with ECS.</p>
            <img
                  src="/static/img/aws_infrastructure_design.png"
                  alt="AWS Infrastructure"
            >
      </div>
</div>

<script>

</script>