<style>
      #designContainer {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            padding: 20px;
      }

      #articleContainer {
            width: 600px;
      }

      #articleContainer>h1,
      #articleContainer>p {
            text-align: center;
      }

      img {
            max-width: 100%;
            height: auto;
      }
</style>

<div id="designContainer">
      <div
            class="formContainer"
            id="articleContainer"
            name="articleContainer"
      >
            <h1>Application Design</h1>
            <p>This is a dummy description for your application design. You can replace this text with the actual description of your application design.</p>
            <img
                  src="https://upload.wikimedia.org/wikipedia/commons/b/bb/Flussregenpfeifer_im_flachen_Wasser_01.jpg"
                  alt="Featured Picture"
            >
            <br /><br />
            <h1>Infrastructure Design</h1>
            <p>This is a dummy description for your infrastructure design. You can replace this text with the actual description of your infrastructure design.</p>
            <img
                  src="https://upload.wikimedia.org/wikipedia/commons/4/41/Thomas_Eakins%2C_American_-_Portrait_of_Dr._Samuel_D._Gross_%28The_Gross_Clinic%29_-_Google_Art_Project.jpg"
                  alt="Featured Picture"
            >
      </div>
</div>

<script>

</script>