<!DOCTYPE html>
<html>

<head>
    <!-- External Stylesheets -->
    <title>Movie Idea Tester</title>
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/bootstrap-4.5.2.min.css') }}"
    >
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/select2-4.0.13.min.css') }}"
    >

    <!-- External Scripts -->
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/bootstrap-4.5.2.min.js"></script>
    <script src="/static/js/select2-4.0.13.min.js"></script>

    <!-- Internal Styles -->
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #C9C9CA;
        }

        .carousel-indicators {
            top: 0;
            height: 20px;
        }

        .carousel-indicators li {
            height: 20px;
            width: 100px;
            background-color: #007bff;
        }
    </style>
</head>

<body>
    <div
        id="mainCarousel"
        class="carousel slide"
        data-ride="carousel"
        data-interval="false"
    >
        <ol class="carousel-indicators">
            <li
                data-target="#mainCarousel"
                data-slide-to="0"
            ></li>
            <li
                data-target="#mainCarousel"
                data-slide-to="1"
                class="active"
            ></li>
            <li
                data-target="#mainCarousel"
                data-slide-to="2"
            ></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                </div><br /><br />
                {% include 'slides/design.html' %}
            </div>
            <div class="carousel-item active">
                <div class="carousel-caption d-none d-md-block">
                </div><br /><br />
                {% include 'slides/app.html' %}
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                </div><br /><br />
                {% include 'slides/modeling.html' %}

            </div>
        </div>
    </div>
    {% if request.args.get('profit') %}
    {% include 'components/results_modal.html' %}
    {% endif %}
</body>

<script>

</script>

</html>